docs/n8n-workflow-template.json
{
  "name": "CMSP Connect - Processamento de Manifestações v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cmsp-manifestacao",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook CMSP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "cmsp-manifestacao"
    },
    {
      "parameters": {
        "jsCode": "// Extrair contexto do orquestrador para decisões de roteamento\nconst input = $input.first().json.body;\nconst orchestrator = input.orchestrator || {};\n\nconsole.log('Tool usada:', orchestrator.source_tool);\nconsole.log('Argumentos originais:', JSON.stringify(orchestrator.tool_arguments));\nconsole.log('Tools disponíveis:', orchestrator.available_tools);\n\n// Preparar dados para roteamento\nreturn {\n  event: input.event,\n  report: input.report,\n  user: input.user,\n  callback_url: input.callback_url,\n  secret_key: input.secret_key,\n  // Contexto do orquestrador\n  source_tool: orchestrator.source_tool,\n  tool_arguments: orchestrator.tool_arguments,\n  tool_metadata: orchestrator.tool_metadata,\n  available_tools: orchestrator.available_tools\n};"
      },
      "id": "z1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Extrair Contexto Orquestrador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source_tool }}",
                    "rightValue": "create_urban_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Urbano"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source_tool }}",
                    "rightValue": "create_transport_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Transporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source_tool }}",
                    "rightValue": "create_service_rating",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avaliacao"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Rotear por Tool",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Agente de Análise de Relatos Urbanos\n// Usa tool_arguments para acessar dados originais inferidos pelo LLM\n\nconst input = $input.first().json;\nconst report = input.report;\nconst toolArgs = input.tool_arguments || {};\n\n// Descrição pode vir do report ou dos argumentos originais da tool\nconst description = (toolArgs.description || report.description || '').toLowerCase();\n\n// Classificação de prioridade baseada em análise de conteúdo\nlet priority = 'normal';\nlet severity = 'media';\nlet tags = [];\n\n// Detecção de urgência por palavras-chave\nconst urgentKeywords = ['urgente', 'perigo', 'risco', 'acidente', 'vazamento', 'desabamento', 'incêndio', 'criança', 'idoso'];\nconst highKeywords = ['buraco', 'cratera', 'alagamento', 'queda', 'sem luz', 'falta água', 'esgoto', 'entupido'];\n\nif (urgentKeywords.some(k => description.includes(k))) {\n  priority = 'urgente';\n  severity = 'critica';\n  tags.push('ATENÇÃO_IMEDIATA');\n} else if (highKeywords.some(k => description.includes(k))) {\n  priority = 'alta';\n  severity = 'alta';\n}\n\n// Categorização automática refinada\nconst categoryMap = {\n  'buraco': 'infraestrutura',\n  'iluminação': 'iluminacao_publica',\n  'poste': 'iluminacao_publica',\n  'luz': 'iluminacao_publica',\n  'lixo': 'limpeza_urbana',\n  'entulho': 'limpeza_urbana',\n  'esgoto': 'saneamento',\n  'água': 'saneamento',\n  'árvore': 'meio_ambiente',\n  'poda': 'meio_ambiente',\n  'calçada': 'acessibilidade',\n  'rampa': 'acessibilidade',\n  'sinal': 'sinalizacao',\n  'semáforo': 'sinalizacao'\n};\n\nlet validatedCategory = toolArgs.category || report.category || 'outro';\nfor (const [keyword, cat] of Object.entries(categoryMap)) {\n  if (description.includes(keyword)) {\n    validatedCategory = cat;\n    tags.push(`AUTO_${cat.toUpperCase()}`);\n    break;\n  }\n}\n\n// Enriquecimento com dados contextuais\nconst enrichedData = {\n  bairro_normalizado: (toolArgs.location_address || report.location_address || '').split(',')[1]?.trim() || null,\n  coordenadas_validas: !!(report.latitude && report.longitude),\n  tem_fotos: (report.photos?.length || 0) > 0,\n  hora_criacao: new Date().getHours(),\n  dia_semana: new Date().toLocaleDateString('pt-BR', { weekday: 'long' }),\n  fonte_dados: 'orchestrator_tool_call',\n  tool_original: input.source_tool,\n  args_originais_presentes: !!input.tool_arguments\n};\n\nreturn {\n  report_id: report.id,\n  report_type: 'urban',\n  callback_url: input.callback_url,\n  secret_key: input.secret_key,\n  processed_data: {\n    priority,\n    severity,\n    validated_category: validatedCategory,\n    tags,\n    enriched_data: enrichedData,\n    workflow_id: $workflow.id\n  }\n};"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Agente Análise Urbana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 150]
    },
    {
      "parameters": {
        "jsCode": "// Agente de Análise de Relatos de Transporte\n// Usa tool_arguments para acessar dados originais inferidos pelo LLM\n\nconst input = $input.first().json;\nconst report = input.report;\nconst toolArgs = input.tool_arguments || {};\n\n// Descrição original do LLM\nconst description = (toolArgs.description || report.description || '').toLowerCase();\n\nlet priority = 'normal';\nlet severity = 'media';\nlet tags = [];\n\n// Detecção de problemas críticos de transporte\nconst criticalKeywords = ['acidente', 'atropelamento', 'colisão', 'quebrado', 'parado', 'incêndio', 'descarrilou'];\nconst highKeywords = ['lotado', 'superlotado', 'atraso', 'não passou', 'cancelado', 'sem ar', 'porta aberta'];\n\nif (criticalKeywords.some(k => description.includes(k))) {\n  priority = 'urgente';\n  severity = 'critica';\n  tags.push('INCIDENTE_CRITICO');\n} else if (highKeywords.some(k => description.includes(k))) {\n  priority = 'alta';\n  severity = 'alta';\n  tags.push('PROBLEMA_OPERACIONAL');\n}\n\n// Classificação por tipo de problema\nconst problemTypes = {\n  'atraso': 'ATRASO',\n  'lotado': 'SUPERLOTACAO',\n  'superlotado': 'SUPERLOTACAO',\n  'ar condicionado': 'CLIMATIZACAO',\n  'sem ar': 'CLIMATIZACAO',\n  'limpeza': 'HIGIENE',\n  'sujo': 'HIGIENE',\n  'motorista': 'CONDUTA',\n  'cobrador': 'CONDUTA',\n  'acessibilidade': 'ACESSIBILIDADE',\n  'cadeirante': 'ACESSIBILIDADE',\n  'segurança': 'SEGURANCA',\n  'assalto': 'SEGURANCA'\n};\n\nfor (const [keyword, tag] of Object.entries(problemTypes)) {\n  if (description.includes(keyword)) {\n    tags.push(tag);\n  }\n}\n\n// Análise temporal do horário da ocorrência\nconst occurrenceTime = toolArgs.occurrence_time || report.occurrence_time;\nconst hora = parseInt(occurrenceTime?.split(':')[0] || '12');\nif (hora >= 6 && hora <= 9) tags.push('HORARIO_PICO_MANHA');\nelse if (hora >= 17 && hora <= 20) tags.push('HORARIO_PICO_TARDE');\n\nconst enrichedData = {\n  linha_codigo: toolArgs.line_code || report.line_code_custom || null,\n  horario_ocorrencia: occurrenceTime,\n  data_ocorrencia: toolArgs.occurrence_date || report.occurrence_date,\n  horario_pico: (hora >= 6 && hora <= 9) || (hora >= 17 && hora <= 20),\n  impacto_relatado: toolArgs.impact_description || report.impact_description || null,\n  fonte_dados: 'orchestrator_tool_call',\n  tool_original: input.source_tool\n};\n\nreturn {\n  report_id: report.id,\n  report_type: 'transport',\n  callback_url: input.callback_url,\n  secret_key: input.secret_key,\n  processed_data: {\n    priority,\n    severity,\n    validated_category: toolArgs.report_type || report.report_type,\n    tags,\n    enriched_data: enrichedData,\n    workflow_id: $workflow.id\n  }\n};"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Agente Análise Transporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "jsCode": "// Agente de Análise de Avaliações de Serviço\n// Usa tool_arguments para acessar dados originais inferidos pelo LLM\n\nconst input = $input.first().json;\nconst report = input.report;\nconst toolArgs = input.tool_arguments || {};\n\nlet priority = 'normal';\nlet severity = 'media';\nlet tags = [];\n\n// Rating original inferido pelo LLM\nconst rating = toolArgs.rating_stars || report.rating_stars || 3;\nif (rating <= 2) {\n  priority = 'alta';\n  severity = 'alta';\n  tags.push('AVALIACAO_NEGATIVA');\n} else if (rating >= 4) {\n  tags.push('AVALIACAO_POSITIVA');\n}\n\n// Análise do texto da avaliação\nconst text = (toolArgs.rating_text || report.rating_text || '').toLowerCase();\nconst negativeKeywords = ['péssimo', 'horrível', 'demora', 'descaso', 'falta', 'nunca', 'abandonado', 'negligência'];\nconst positiveKeywords = ['excelente', 'ótimo', 'rápido', 'atencioso', 'eficiente', 'parabéns', 'recomendo'];\n\nif (negativeKeywords.some(k => text.includes(k))) {\n  priority = 'alta';\n  severity = 'alta';\n  tags.push('FEEDBACK_CRITICO');\n}\nif (positiveKeywords.some(k => text.includes(k))) {\n  tags.push('FEEDBACK_ELOGIO');\n}\n\n// Sentimento original inferido pelo LLM\nconst sentimentFromLLM = toolArgs.sentiment || report.sentiment;\n\nconst enrichedData = {\n  servico_tipo: toolArgs.service_type || report.service_type,\n  servico_nome: toolArgs.service_name || report.service_name,\n  rating_numerico: rating,\n  tem_comentario: !!(toolArgs.rating_text || report.rating_text),\n  sentimento_llm: sentimentFromLLM,\n  sentimento_analise: rating <= 2 ? 'negativo' : rating >= 4 ? 'positivo' : 'neutro',\n  fonte_dados: 'orchestrator_tool_call',\n  tool_original: input.source_tool\n};\n\nreturn {\n  report_id: report.id,\n  report_type: 'service_rating',\n  callback_url: input.callback_url,\n  secret_key: input.secret_key,\n  processed_data: {\n    priority,\n    severity,\n    validated_category: 'avaliacao_servico',\n    tags,\n    enriched_data: enrichedData,\n    workflow_id: $workflow.id\n  }\n};"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Agente Análise Serviço",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 450]
    },
    {
      "parameters": {
        "jsCode": "// Fallback para eventos sem source_tool (compatibilidade legada)\nconst input = $input.first().json;\nconst event = input.event;\n\nlet priority = 'normal';\nlet tags = ['LEGACY_EVENT'];\n\nreturn {\n  report_id: input.report?.id,\n  report_type: input.report?.type || 'unknown',\n  callback_url: input.callback_url,\n  secret_key: input.secret_key,\n  processed_data: {\n    priority,\n    validated_category: 'nao_classificado',\n    tags,\n    enriched_data: { evento_original: event },\n    workflow_id: $workflow.id\n  }\n};"
      },
      "id": "f0a1b2c3-d4e5-6789-abcd-ef0123456789",
      "name": "Fallback Legado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"report_id\": \"{{ $json.report_id }}\",\n  \"report_type\": \"{{ $json.report_type }}\",\n  \"secret_key\": \"{{ $json.secret_key }}\",\n  \"processed_data\": {{ JSON.stringify($json.processed_data) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Callback CMSP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log de sucesso\nconst response = $input.first().json;\nconsole.log('Callback enviado com sucesso:', response);\nreturn { success: true, response };"
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || 'Erro desconhecido' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Tratar Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 500]
    }
  ],
  "connections": {
    "Webhook CMSP": {
      "main": [
        [
          {
            "node": "Extrair Contexto Orquestrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Contexto Orquestrador": {
      "main": [
        [
          {
            "node": "Rotear por Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear por Tool": {
      "main": [
        [
          {
            "node": "Agente Análise Urbana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Análise Transporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Análise Serviço",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Legado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Análise Urbana": {
      "main": [
        [
          {
            "node": "Callback CMSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Análise Transporte": {
      "main": [
        [
          {
            "node": "Callback CMSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Análise Serviço": {
      "main": [
        [
          {
            "node": "Callback CMSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Legado": {
      "main": [
        [
          {
            "node": "Callback CMSP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback CMSP": {
      "main": [
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "active": false,
  "triggerCount": 1
}
